<launch>
<!-- Launch file for Livox AVIA LiDAR -->

	<arg name="rviz" default="true" />
	<arg name="use_pc_time" default="true" />
	<arg name="calibrate" default="true" />

	<rosparam command="load" file="$(find fast_livo)/config/sim.yaml" />

	<node pkg="fast_livo" type="fastlivo_mapping" name="laserMapping" output="screen">
		<rosparam file="$(find fast_livo)/config/camera_pinhole.yaml" />
	</node>
	
	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_livo)/rviz_cfg/fast_livo2.rviz" />
	</group>
	
	<node pkg="image_transport" type="republish" name="republish" args="compressed in:=/left_camera/image raw out:=/left_camera/image" output="screen" respawn="true"/>

	<!-- PointCloud to Livox CustomMsg converter -->
	<node pkg="fast_livo" type="pointcloud_to_livox" name="pointcloud_to_livox" output="screen">
		<param name="input_topic" value="/lidar3d/points" />
		<param name="output_topic" value="/livox/lidar" />
		<param name="lidar_id" value="0" />
		<param name="use_pc_time" value="$(arg use_pc_time)" />
	</node>


	<!-- LiDAR-IMU extrinsic rotation calibrator -->
	<group if="$(arg calibrate)">
		<node pkg="fast_livo" type="lidar_imu_calibrator.py" name="lidar_imu_calibrator" output="screen">
			<param name="slam_topic"       value="/aft_mapped_to_init" />
			<param name="imu_topic"        value="/minithex/imu" />
			<param name="min_pairs"        value="100" />
			<param name="omega_min_norm"   value="0.05" />
			<param name="calibrate_period" value="10.0" />
		</node>
	</group>


launch-prefix="gdb -ex run --args"
launch-prefix="valgrind --leak-check=full"

</launch> 	
